html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --color-black: #212121;
    --color-blue: #2196F3;
    --color-white: #ffffff;
    --color-grey: #757575;
    --color-dark-grey: #2F303A;
    --color-light-grey: rgba(255, 255, 255, 0.6);
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--color-black);
}

li {
    list-style-type: none;
}

button {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    font-family: 'Raleway', sans-serif;
}

.logo-web {
    color: var(--color-blue);
}

.logo-footer {
    color: var(--color-white)
}

.link-nav:hover,
.link-nav:focus,
.link-nav:active {
    color: var(--color-blue);
}

.email:hover,
.email:focus {
    color: var(--color-blue);
}

.list {
    padding: 0;
    margin: 0;
}

.main-title {
    margin-top: 0;
    margin-bottom: 30;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
}

.hero {
    text-align: center;
    margin-bottom: 94px;
}

.advantages {
    margin-bottom: 94px;
}

.main-title-3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.main-text-3 {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-grey);
}

.services {
    margin-bottom: 94px;
}

.main-title-2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
}

.team {
    margin-bottom: 94px;
}

.text-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.text-profession {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-grey);
}

.post {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-white);
}

.mail-tel{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-light-grey);
}

.filter {
    margin-top: 94px;
    margin-bottom: 50px;
}

.portfolio-filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio {
    margin-bottom: 94px;
}

.title-portfolio {
    margin: 0;
    font-size: none;
}

.portfolio-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--color-grey);
}

.link {
    text-decoration: none;
    color: var(--color-black);
    font-style: normal;
}

.page-footer {
    background-color: var(--color-dark-grey);
}