html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --color-black: #212121;
    --color-blue: #2196F3;
    --color-white: #ffffff;
    --color-grey: #757575;
    --color-dark-grey: #2F303A;
    --color-light-grey: rgba(255, 255, 255, 0.6);
    --color-grey-buttom: #F5F4FA;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--color-black);
}

li {
    list-style-type: none;
}

button {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    font-family: 'Raleway', sans-serif;
}

.logo-web {
    color: var(--color-blue);
}

.logo-footer {
    color: var(--color-white)
}

.link-nav:hover,
.link-nav:focus,
.link-nav:active {
    color: var(--color-blue);
}

.email:hover,
.email:focus {
    color: var(--color-blue);
}

.list {
    padding: 0;
    margin: 0;
}

.main-title {
    margin-top: 0;
    margin-bottom: 30;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
}

.hero {
    text-align: center;
    margin-bottom: 94px;
}

.advantages {
    margin-bottom: 94px;
}

.list.advantages {
    display: inline-block;
    width: 270px;
}

.list.advantages:not(:last-child) {
    margin-right: 10px;
}

.main-title-3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-block-end: 10px;
}

.main-text-3 {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-grey);
    margin-top: 0;
    margin-bottom: 0;
}

.services {
    margin-bottom: 94px;
}

.list.services {
    display: inline-block;
}

.main-title-2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

.team {
    background-color: var(--color-grey-buttom);
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-team {
    display: inline-block;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.foto-team {
    display: block;
}

.text-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
}

.team-text {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--color-white);
    border-style: none;
}

.text-profession {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-grey);
    margin-top: 0;
    margin-bottom: 0;
}

.post {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-white);
}

.mail-tel{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-light-grey);
}

.filter {
    margin-top: 94px;
    margin-bottom: 50px;
}

.portfolio-filter {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--color-black);
    height: 38px;
    border-radius: 4px;
    padding: 6px 22px;
    background-color: var(--color-grey-buttom);
}

.portfolio-filter:hover,
.portfolio-filter:focus,
.portfolio-filter:active {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.portfolio {
    margin-bottom: 94px;
}

.title-portfolio {
    margin: 0;
    font-size: none;
}

.portfolio-list {
    display: inline-block;
    border: 1px solid #EEEEEE;
}

.p-txt {
    padding: 20px 24px;
}


.portfolio-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--color-grey);
    margin-top: 0;
    margin-bottom:0px;
}

.link {
    text-decoration: none;
    color: var(--color-black);
    font-style: normal;
}

.link.footer {
    color: var(--color-light-grey);
}

.page-footer {
    background-color: var(--color-dark-grey);
}